<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} ПРИРОДНЙ МАГАЗИН ТОВАРОВ ДЛЯ ЗДОРОВЬЯ {% endblock %}</title>
    <link rel = 'stylesheet' type="text/css" href = '{% static "style.css" %}'>
</head>
<body>
    <pivetctvie>
        {% block pivetctvie %}
            <h1>{{text}}</h1>
            <h2>Природные товары для вас.</h2>
            <h3>Польза и красота от природы.</h3>
            <p>Подбираем только качественные товары для вас.</p>
        {% endblock %}
    </pivetctvie>

    <ul>
        <menu>
            {% block menu %}
                <a href="#">Магазин</a>
            <li> Каталог</li>
                <a href='http://127.0.0.1:8000/games/'>Масла</a>
            <li> </li>
                <a href='http://127.0.0.1:8000/games/'>Мази</a>
            <li> </li>
                <a href='http://127.0.0.1:8000/games/'>Чаи</a>
            <li> </li>
                <a href='http://127.0.0.1:8000/cart/'>КАРЗИНА</a>
            {% endblock %}
        </menu>>
    </ul>

    <content>
        {% block content %}
        <p>Тут будет название блока</p>>
            <li> БЫСТРОЕ ОФОРМЛЕНИЕ</li>
            <li> ВЫСОКОЕ КАЧЕСТВО ПРОДУКЦИ</li>
            <li> БЫСТРАЯ ДОСТАВКА </li>
        {% endblock %}
    </content>>
    <cah>
        {% block cah %}
        <ul>
            {% for i in list %}
            <p>{{ i|title }}</p>
            {% endfor %}
        </ul>>
        {% endblock cah %}
    </cah>>
    <info>
        {% block info %}
        {% include 'fourth_task/info.html' %}
        {% endblock %}
    </info>
</body>
</html>
