{% extends "fourth_task/menu.html" %}


{% block title %}Home - {{ block.super }}{% endblock%}

{% block pivetctvie %}
    {{ block.super }}
    <p>********************************************</p>
{% endblock %}

{% block menu %}
    {{ block.super }}
{% endblock%}

{% block content %}
    <p>НАШИ ПРИЕМУЩЕСТВА</p>>
    <li>Для изготовления продукции используем только природное сырье</li>
    <li> Быстрое оформление заказа</li>
    <li> Быстрая доставка покупателю</li>
{% endblock%}

{% block cah %}
    {{ block.super }}
{% endblock cah %}

{% block info %}
    <ul>
        <a href="#">Закажитe разработку сайта у нас!</a>
    </ul>
    {{ block.super }}
{% endblock%}




