<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <button>КУПИТЬ</button>>
    <h1>МАСЛО ЛЬНЯНОЕ</h1>
    <p>состав: Масло льняное 100%. Первый холодный отжим. Омега3</p>
    <button>КУПИТЬ</button>>
    <h2>МАЗЬ ДЛЯ СУСТАВОВ</h2>
    <p>состав: Живица кедровая, Эфирные таежные масла</p>
    <button>КУПИТЬ</button>>
    <h3>ИВАН ЧАЙ</h3>
    <p>состав: Крупнолистовой ферментированный Иван чай.</p>
    <a href='http://127.0.0.1:8000/'>Вернутся в Магазин</a>
</body>
</html>