<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{text}}</h1>
    <h2>Природные товары для вас.</h2>
    <h3>Польза и красота от природы.</h3>
    <p>Подбираем только качественные товары для вас.</p>

    <a href="#">Магазин</a>
      <ul>
        <li> Каталог</li>
          <a href='http://127.0.0.1:8000/games/'>Масла</a>
          <li> </li>
          <a href='http://127.0.0.1:8000/games/'>Мази</a>
          <li> </li>
          <a href='http://127.0.0.1:8000/games/'>Чаи</a>
          <li> </li>
          <a href='http://127.0.0.1:8000/cart/'>КАРЗИНА</a>
    </ul>
    <ul>
        <li> надежная упаковка</li>
        <li> высокое качество продукции</li>
        <li> вся продукция сертифицирована</li>
    </ul>
</body>
</html>
